@import url("@/assets/css/all.min.css");

:root {
    --x-background-color: #effff7;
    --x-foreground-color: #272928;
    --x-mute-color: #848b88;
    --x-primary-color: #17ff83;
    --x-primary-complement-color: #effff7;
    
    font-size: 14px;
}

@media (prefers-color-scheme: dark) {
    :root {
        --x-background-color: #272928;
        --x-foreground-color: #effff7;
    }
}

* {
    box-sizing: border-box;
    color: inherit;
    font-family: sans-serif, Poppins;
    line-height: 1.5;
    position: relative;
    transition-duration: 120ms;
    transition-property: background-color, color, fill, stroke;
    transition-timing-function: ease-out;
}

body {
    background-color: var(--x-background-color);
    color: var(--x-foreground-color);
    margin: 0px;
}
